@import "code.scss";
@import "table.scss";
@import "header.scss";

body {
    color: #333;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
    margin-bottom: 16px;
}

main {
    display: block;
}

// links
a {
    color: #428bca;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    border-left: 2px solid #cccccc;
    padding: 0.1em 0.5em;
    margin-left: 0.75em;
}

.blog-posts {
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
}

@media (max-width: 800px) {
    .blog-posts {
        max-width: 760px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.blog-posts-list {
    margin-left: 0;
    list-style: none;
}

.blog-posts-list-item {
    margin-bottom: 30px;
}

/* page / post */
.page-content {
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 800px) {
    .page-content {
        max-width: 760px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.page-content-title {
    font-size: 42px;
    line-height: 1;
}

@media (max-width: 800px) {
    .page-content-title {
        font-size: 36px;
    }
}

footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
}

img {
    display: block;
    border-radius: 3px;
    max-width: 100%;
}